body{
    margin:0;
    padding:0;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #95adbe;
  }

.navbar-btn {
    width: 80px;
    height: 40px;
    border-radius: 20px;
    text-align: center;
    line-height: 40px;
    text-decoration: none;
    background-color: #3c2a4d;
    color: #e0f0ea;
}

.navbar-btn:hover{
    color:blue;
    background-color: white;
}
  
  .left {
    margin-right: auto;
  }
  
  .right {
    display: flex;
    gap: 20px;
  }
  
  .right h1 {
    margin: 0;
  }

  .footer{
    background-color: #3c2a4d;
    position: absolute;
    width: 100%;
    bottom:0;
    color: white;
    display: flex;
    flex-direction: row;
    text-decoration: none;
  }

  .footer-vasak{
    width: 33.3%;
    text-align: center;
    border: solid 1px white;
  }

  .footer-kesk{
    width: 33.3%;
    text-align: center;
    border: solid 1px white;
  }

  .footer-parem{
    width: 33.3%;
    text-align: center;
    border: solid 1px white;
  }

  .footer a{
    text-decoration: none;
    color:white;
  }

@media screen and (max-width:600px) {
    
}
