
body{
    margin:0;
    padding:0;
    background-color: #EDF2F4;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    font-style: normal;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: white;
    color:rgb(0, 0, 0);
  }

.navbar-btn {
    width: 100px;
    height: 50px;
    border-radius: 20px;
    text-align: center;
    line-height: 50px;
    text-decoration: none;
    background-color: #EDF2F4;
    color: black;
}

.navbar-btn-home {
  width: 100px;
  height: 50px;
  border-radius: 20px;
  text-align: center;
  line-height: 50px;
  text-decoration: none;
  background-color: #D90429;
  color: #e0f0ea;
}

.navbar-btn:hover{
    color:red;
    background-color: rgb(248, 248, 248);
    transition: 0.3s;
}

.navbar-btn-home:hover{
  color:white;
  background-color: rgb(255, 0, 0);
  transition: 0.3s;
}

.navbar-btn:hover{
    color:#ffffff;
    background-color: #D90429;
}
  
  .left {
    margin-right: auto;
  }
  
  .right {
    display: flex;
    gap: 20px;
  }
  
  .right h1 {
    margin: 0;
  }

  .footer{
    background-color: #EF233C;
    position: absolute;
    width: 100%;
    color: white;
    display: flex;
    flex-direction: row;
    margin-top: 900px;
    bottom:0;
    text-decoration: none;
  }

  .footer-vasak{
    width: 33.3%;
    text-align: center;
    border: solid 1px white;
  }

  .footer-kesk{
    width: 33.3%;
    text-align: center;
    border: solid 1px white;
  }

  .footer-parem{
    width: 33.3%;
    text-align: center;
    border: solid 1px white;
  }

  .footer a{
    text-decoration: none;
    color:white;
    line-height: 25px;
    margin-bottom:10px;
  }

  .kontaktid-card {
    padding: 20px;
    display: flex;
    flex-direction: column;
    width: 30%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border: solid;
    align-items: center;
  }
  
  .kontaktid-card textarea{
    width: 80%;
    height: 200px;
    margin-top:20px;
  }

  .kontaktid-card button{
    border-radius: 20px;
    margin-top: 20px;
    width: 120px;
    height: 40px;
  }

  .kontaktid-card input{
    margin: 20px;
    width: 80%;
    height: 40px;
  }

  .error {
    position: relative;
    margin:0;
    padding:0;
    color: red;
    left: 0;
    top:0;
    width: 100%;
  }

@media screen and (max-width:600px) {
    
}
